# RewriteEngine On
# RewriteCond %{SERVER_PORT} 80
# RewriteRule ^(.*)$ https://dotlogistics.co.in/$1 [R,L]

RewriteCond %{HTTPS} off
RewriteCond %{HTTPS_HOST} !^dotlogistics.co.in$ [NC]
RewriteRule ^(.*)$ https://dotlogistics.co.in/$1 [L,R=301]

